out/
!**/src/main/**/out/
!**/src/test/**/out/


### IntelliJ IDEA ###
.idea
.idea/
.idea/*.xml
.idea/*.iml
.idea/*.md
!.idea/vcs.xml
!.idea/encodings.xml
!.idea/compiler.xml
!.idea/dictionaries.xml
!.idea/.gitignore

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/



### Mac OS ###
.DS_Store
src/main/java/com/examen/banco/CuentaBancaria.java
src/main/java/com/zoo/Humano.java

/temp/
/temp/**/*.*
